.s1_start {

  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  span {
      display: block;
    }
  
  
  .buttons {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    width: 100%;

    a {
      pointer-events: all;
      cursor: pointer;
      color: #ffffff;
      text-decoration: none;
      border: 1px solid #ffffff;
      padding: 15px;
      transition: background-color 0.2s linear;
      
    }

    a.filled:hover {
      background-color: #ffffff;
    }

    a:hover {
      background-color: #ffffff;
      color: #000000;
    }

    .filled {
      background-color: #f0f0f0;
      color: #000000;
    }

  }
  
}
